.code-playa-control-bar__button {
  height: 36px;
  width: 36px;
  box-sizing: border-box;
  background: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  outline: none;
}

.code-playa-control-bar__button[disabled] {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.code-playa-control-bar__button path {
  fill: #d6d6d6;
}

.code-playa-control-bar__button:hover path, .code-playa-control-bar__button:focus path {
  fill: #ffffff;
}