.unk-code-playa {
	position: relative;
}

.unk-code-playa-control-bar {
	background: #212121;
	height: 40px;
}

.unk-code-playa-control-bar__row {
	display: table;
	width: 100%;
}

.unk-code-playa-control-bar__cell {
	display: table-cell;
	vertical-align: middle;
}

.unk-code-playa-control-bar__cell--left {
	width: 50%;
	text-align: left;
}

.unk-code-playa-control-bar__cell--right {
	width: 50%;
	text-align: right;
	padding: 0px 15px;
}

.unk-code-playa__logo {
	width: 80px;
	height: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	cursor: pointer;
	transform: translateY(-50%)translateX(-50%);
}

.unk-code-playa__logo rect:first-child {
	fill: gray;
	transition: 0.2s fill;
}

.unk-code-playa__logo:hover rect:first-child {
	fill: #e00000;
}