.unk-cb-sidebar {
	background: #F5F7F9;
	position: fixed;
	top: 0px;
	width: 20%;
	display: none;
	height: 100%;
	overflow-y: scroll;
	padding: 25px;
}

@media(min-width: 1200px) {
	.unk-cb-sidebar {
		display: block;
	}
}