.unk-code-playa-options-menu {
	display: inline-block;
	position: relative;
}


.unk-code-playa-options-menu__gear-icon {
	fill: #d6d6d6;
	cursor: pointer;
	transform: rotate(0deg);
	transition: 0.3s transform ease;
}

.unk-code-playa-options-menu__download-icon {
	fill: #d6d6d6;
	cursor: pointer;
	margin: 0px 5px;
}

.unk-code-playa-options-menu__download-icon:hover {
	fill: white;
}

.unk-code-playa-options-menu__gear-icon:hover {
	fill: #ffffff;
	transform: rotate(20deg);
}

.unk-code-playa-options-popup {
	position: absolute;
	z-index: 10;
	list-style: none;
	background: #212121;
	color: #ffffff;
	bottom: 40px;
	right: 0px;
	padding: 0;
	margin: 0;
	text-align: right;
	white-space: nowrap;
	max-height: 300px;
	overflow-y: scroll;
}

.unk-code-playa-options-popup__item {
	padding: 5px 10px;
	font-size: 13px;
	cursor: pointer;
	font-weight: 600;
	text-align: left;
	position: relative;
	padding-right: 35px;
}

.unk-code-playa-options-popup__item--selected {
	background: #ffffff;
	color: #212121;
	border: 1px solid #212121;
}

.unk-code-playa-options-popup__item:hover {
	background: #3a3a3a;
}

.unk-code-playa-options-popup__item--selected:hover {
	background: #ffffff;
}

.unk-code-playa-options-popup__item-icon {
	margin-right: 10px;
	text-align: left;
}

.unk-code-playa-options-popup__item-next-icon {
	position: absolute;
	right: 10px;
}