.App {

}

.App-logo {
  height: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #09d3ac;
}

main {
  margin-left: 0px;
  padding: 25px;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cpd-file {
  border: 1px solid #c5c5c5;
  padding: 25px;
  border-radius: 5px;
  /* text-overflow: clip; */
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

@media(min-width: 1200px) {

  .App-header {
    margin-left: calc(20% + 50px);
    width: calc(80% - 50px);
  }
  main {
    margin-left: calc(20% + 50px);
  }
}

.CodeMirror {
  font-size: 16px;
}

@media(max-width: 400px) {
  .CodeMirror {
    font-size: 12px;
  }
}