body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea::-webkit-input-placeholder {
  color: #c5c5c5;
}

textarea:-moz-placeholder { /* Firefox 18- */
  color: #c5c5c5;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
  color: #c5c5c5;
}

textarea:-ms-input-placeholder {
  color: #c5c5c5;
}

textarea::placeholder {
  color: #c5c5c5;
}
